*{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.heading-primary {
    color: $color-primary-white;
    text-transform: uppercase;
    display: block;
    backface-visibility: hidden; 

    &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    text-align: center;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in; 
  
    @include respond (phone) {
      font-size: 5rem;
      letter-spacing: 1.5rem;
    }

  }
  
      &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-in;
    margin-bottom: 6rem; 
        
    @include respond (phone) {
      letter-spacing: .5rem;
    }
  }
     
  }

  .heading-secondary {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image:linear-gradient(to right, 
    $color-primary-light, 
    $color-primary-dark);
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    
    transition: all .2s;

    @include respond (tab-port) {
      font-size: 2.5rem;
    }
    @include respond (phone) {
      font-size: 2rem;
    }
  
  
    &:hover {
      transform: skewY(-2deg) skewX(-15deg) scale(1.1);
      ;
      text-shadow: .5rem 1rem 2rem rgba($color-primary-black, .2);
      letter-spacing: .1rem;
    }

    animation: moveInRight 1s ease-out; 
  }



.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
font-size: $default-font-size;

&:not(:last-child) {
margin-bottom: 3rem;
}

}