.navigation {

    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $color-primary-white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($color-primary-black, 0.1);
    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 1000;

        transform: scale(80);
    }

    &__nav {
        height: 100vh;
        width: 100vw;
        // background-color: $color-primary-white;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;
        // opacity: 0;
        // visibility: hidden;
        // transition: all.3s;
        // overflow-y: scroll;
        // padding: 2rem 0;
        // -webkit-overflow-scrolling: touch;
        // -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
    }

    &__item {
        margin: 1rem;
    }

    &__link {

        &:link,
        &:visited {
        font-size: 3rem;
        font-weight: 300;
        text-decoration: none;

        padding: 1rem 2rem;
        color: $color-primary-white;
        transition: all.4s;
        text-transform: uppercase;
        background-image: linear-gradient(120deg, transparent 0%, 
        transparent 50%, 
        $color-primary-white 50%);
        background-position: 0;
        background-size: 200%;
        transition: all .4s ease-in-out;
        }
        
        &:hover,
        &:active {
            background-position: 100%;
        }
    }
}