.card {
    perspective: 150rem;
    -moz-perspective: 150rem;

    &__side {
    background-color: orangered;
    color: #fff;
    font-size: 4rem; 
    height: 50rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0,.15);
    transition: all 0.8s;     

    &--front {
        background-color: orangered;
        transform: rotateY(0deg);

    }
    &--back {
        background-color: green;
        transform: rotateY(180deg);
    }
    }
   
    
    &:hover &__side--front {
    transform: rotateY(180deg);

    }

}