.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 50rem;
    
    &__side {
    color:$color-primary-black ;
    font-size: 4rem; 
    height: 50rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0,.15);     
    position: absolute;
    transition: all 1s ease;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;

    &--front {
        background-color: $color-primary-white;
    }
    &--back {
        transform: rotateY(180deg);
        &-1{
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-light-2);
        }
    }
    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    }
    
    &:hover &__side--front {
        transform: rotateY(-180deg);
        }
        &:hover &__side--back {
            transform: rotateY(0);
        }
    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;;
        &--1 {
        background-image: linear-gradient(to right bottom, $color-secondary-light, 
        $color-secondary-light-2), url(../img/nat-5.jpg);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        }
        &--2 {
            background-image: url(../img/nat-5.img) ;
            }
        &--3 {
            background-image: url(../img/nat-5.img) ;
           }
    }
    
}
