.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba($color-primary-black, .4);
    opacity: 0;
    backdrop-filter: blur(20px);
    visibility: hidden;
    transition: all.3s;

    &:target {
        opacity: 1;
        visibility: visible;
        transition: all.3s ease-in-out;
    }
    &__close {

        &:link,
        &:visited { 

        position: absolute;
        top: 1rem;
        right: 3rem;
        cursor: pointer;
        font-size: 4rem;
        color: $color-primary-black;
        transition: color.2s;
        text-decoration: none;   
        }
    }
    
    &__close:hover {
        color: $color-primary;
        transition: color .2s;
    }


    &__content{
        @include absCenter;

        width: 75%;
        background-color: $color-primary-white;
        box-shadow: 0 2rem 4rem rgba($color-primary-black, .2);
        border-radius: 3px;
        display: table;
        overflow: hidden;
    }

    &__left {
        width: 33.33333%;
        display: table-cell;
    }
    &__right {
       width: 66.666667%;
       display: table-cell;
       vertical-align: middle;
       padding: 3rem 5rem;
    }
    &__img {
        display: block;
        width: 100%;
    }
    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;

        -moz-column-count: 2;
        -moz-column-gap: 4rem;
        -moz-column-rule: 1px solid $color-grey-light-2;

        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-grey-light-2;

        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;

    }

}